$linkColor: #333;
$linkHoverColor: #fff;
$bgColor: #eadfca;
$bgHoverColor: #968668;
$borderColor: #b8a47f;
$fontStack:  "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$logoUrl: 'img/tan-logo.jpg';
$smallLogoUrl: 'img/tan-logo-620w.jpg';
