@import 'vars';
@import 'mixins';

body {
    -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
    from { padding: 0; } to { padding: 0; }
}

#yourlib-header {
    width: 100%;

    .logo {
        @include background($logoUrl);
        height: 91px;
    }
    // borrows *heavily* from codepen.io/TimPietrusky/pen/gqlhA

    * {
       box-sizing: border-box;
    }

    // Advanced Checkbox Hack
    input[type=checkbox] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    label {
      display: none;
      cursor: pointer;
      user-select: none;
    }

    nav {
      position: relative;

      a,
      label {
        color: $linkColor;
        display: block;
        text-decoration: none;
        font: $fontSize $fontStack;
        transition: color .3s ease-in-out;
        padding: .55em;
      }

      // override label padding when menu is horizontal
      label {
        padding: 0;
      }

      a:visited {
        color: $linkColor;
      }

      ul {
        padding: 0;
        margin: 0 auto;
        list-style: none;

        > li {
          float: left;
          width: 19.99%;
          background: $bgColor;
          text-align: center;
          transition-duration: .3s;
          transition-timing-function: ease-in-out;
          transition-property: box-shadow, color;
          cursor: pointer;
          border: $borderWidth solid $borderColor;

          &:hover, &:active {
            background-color: $bgHoverColor;
            border-color: darken($borderColor, 20%);
            color: $linkHoverColor;

            > a {
              color: $linkHoverColor;
            }
          }
        }
      }
    }

    // adjust logo image
    @media screen and (max-width: 620px) {
        .logo {
            @include background($smallLogoUrl);
            height: 51px;
        }
    }

    // small screens get vertical menu
    @media screen and (max-width: 44em) {
      nav {
        ul {
          display: none;
          height: 100%;
        }

        label {
          position: relative;
          display: block;
          min-height: 2.25em;
          margin: 0;
          border: ($borderWidth / 2) solid $borderColor;
          background: $bgColor;
        }

        label:after {
          position: absolute;
          right: .25em;
          top: 0;
          content:"MENU";
          font-size: 1.8em;
        }

        input[type=checkbox]:checked ~ label:after {
          color: $linkColor;
        }

        input[type=checkbox]:checked ~ ul {
          display: block;

          > li {
            border: ($borderWidth / 2) solid $borderColor;
            width: 100%;
            position: relative; // needed to position :after below
            opacity: .8;
            text-align: left;

            &:after {
              position: absolute;
              right: .25em;
              top: .7em; // @todo magic number, why? also slightly off in Firefox
              content: "\232A";
              font: bold $fontSize sans-serif;
            }
          }
        }
      }
    }
}
