$linkColor: #333;
$linkHoverColor: #fff;
$bgColor: #eee;
$bgHoverColor: #333;
$borderColor: #333;
$borderWidth: .1em;
$fontStack:  "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$fontSize: 1.4em;
$logoUrl: '{{largeImageUrl}}';
$smallLogoUrl: '{{smallImageUrl}}';
